[2016-07-30 03:10] thestepafter opened #1 "Missing mailchimp_list variable in settings.yaml"
Sorry I can't PR, not at a computer that I am setup to do PRs with.

[2016-09-11 17:35] edalzell opened #2 "Rename config vars to be more descriptive"
`key` should be `mailchimp_key`
`list_id` should be `mailchimp_list_id`

[2016-09-23 17:06] #1 closed

[2016-09-27 21:06] edalzell opened #3 "FR: support a standard form"

[2016-09-27 21:06] #2 closed

[2016-09-27 21:06] #3 closed

[2016-12-15 15:33] ScottHarrisonDev opened #5 "Allowing multiple Lists and Formsets"
Whilst we can assign a list to multiple formsets we cannot set multiple list IDs. This would be a useful addition as well as allowing the user to specify which list ID is related to which formset.

[2017-02-23 00:13] PhilippeGauthier opened #6 "FR: Opt-in option"
Add a way of opting into the mailing list via a checkbox. Use case would be a Get in Contact form where there's a pre-checked "Add me to your mailing list" checkbox that triggers the addon.

[2017-03-14 20:12] PhilippeGauthier commented on #6
Thanks again!

[2017-03-14 20:12] #6 closed

[2017-04-07 15:34] edalzell commented on #5
If I'm understanding you properly @ScottHarrisonDev, this has been done and is in the latest version. If not, please re-open

[2017-04-07 15:34] #5 closed

[2017-06-30 13:32] markusleming opened #8 "FR: adding of extra fields"
Great job with the add-on, it's super useful! :)
Not sure if I missed something but if I understand correctly then it only imports the email to MC. Is there a way to also add other fields?

e.g. my forms currently include name, phone and a few custom fields.

Thanks!

[2018-01-25 22:53] edalzell commented on #8
Yes, add a Merge field.

<img width="321" alt="2018-01-25 at 2 53 pm" src="https://user-images.githubusercontent.com/6069653/35416823-7e9d7c74-01df-11e8-8877-ae5b8fcc54ac.png">

[2018-01-25 22:53] #8 closed

[2018-02-21 01:29] j0ethomas opened #9 "Populate Name field into Mailchimp List"
Looking to have my name field added to the Mailchimp list connected with the form. Currently I can only get it to add the email field.

[2018-03-20 01:47] edalzell commented on #9
I believe this can be done now with the latest release.

[2018-03-20 01:47] #9 closed

[2018-04-15 18:03] JayVerb opened #11 "Javascript Errors"
Just went into the settings page and noticed I couldn't trigger any of the toggle buttons. In the console, I see this error...

`Unhandled Promise Rejection: TypeError: self.loadFields is not a function. (In 'self.loadFields()', 'self.loadFields' is undefined)`

Tested in both latest Chrome and Safari on Mac 10.12.6.

Great Plugin, but will it allow for a checkbox opt in/out on the signup form? Ke

[2018-04-15 18:33] edalzell commented on #11
I’ll look into this today. Thanks for the report.

[2018-04-15 19:52] edalzell commented on #11
@JayVerb what version of Mailchimp do you have?

On my version I can toggle everything. And yes, it will allow an opt-in checkbox.

[2018-04-15 19:54] JayVerb commented on #11
I have version 1.3

[2018-04-25 20:14] PeterEmil opened #13 "updates fail because of dependencies"
MailChimp is the only add-on added to Statamic. Every update fails because of an error relating to dependencies. My best guess is it has something to do with this add-on.
Latest update to Statamic v2.8.11 renders this error:
"Couldn't install dependencies.
The process has been signaled with signal "9"." When I temporarily delete the add-on upgrade goes fine.

[2018-04-25 21:27] edalzell commented on #13
If you update from the command line, do you get more detailed errors?

[2018-04-26 20:41] JayVerb commented on #11
2.8.10

[2018-04-27 08:57] PeterEmil commented on #13
It's only on the server and unfortunately I can't get there using command line. So then I'll have to update Statamic via the CP. This throws that error. Only way to circumvent this is to remove the add-on, update Statamic, and put the add-on back.

Local everything just runs fine.

[2018-04-27 15:17] edalzell commented on #13
You shouldn't be updating on the server, you should be updating on local and pushing everything to the server.

Without additional errors, this is extremely difficult to troubleshoot. It's likely the server is missing some packages that are required. I had the same issue on Dreamhost.

Going to close this, unfortunately, if you can get some more details please re-open and I'll look at it.

[2018-04-27 15:17] #13 closed

[2018-05-01 21:43] tkoosis opened #14 "Documentation: Step 1 clarification"
In the documentation it reads:

"Copy the "addons" folder contents to your Statamic site directory;"
But should it be the addons directory inside your site directory?

e.g. "Copy the "addons" folder contents to your Statamic `site/addons` directory;"

?

[2018-05-01 22:05] tkoosis opened #15 "Documentation: Step 15 edit"
Ran step 15 `php please addons:refresh` command and terminal said:

[code]

Meh?!

[2018-05-02 00:10] tkoosis opened #16 "Documentation.... v2?!"
# Statamic Mailchimp Add-on Documentation

## Usage
This add-on can be used in a couple ways:
1. When a user is registered, they will be automatically subscribed to your Mailchimp mailing list.
2. When a form -- a formset created in Statamic's `CP > Forms` -- is submitted  the `email` field will be used and sent to the specified Mailchimp list.

:question: @edalzell **Are these accurate?**

## Ins

[2018-05-05 18:00] raullukacs commented on #11
I have the same issue in 2.8.11 as well.

Uncaught (in promise) TypeError: self.loadFields is not a function
    at GridFieldtype.$parent.$watch.deep (fieldtype.js:64)
    at re.run (johnny-deps.js?v=2.8.11:7)
    at ne (johnny-deps.js?v=2.8.11:6)
    at Array.ee (johnny-deps.js?v=2.8.11:6)
    at t (johnny-deps.js?v=2.8.11:7)

[2018-05-05 18:50] raullukacs opened #17 "Check Permission is working backwords"
Hi,

It seems the check permissions is working reverse of what it should do.

If I check "no" the email to check permissions is sent. (& the user is added in the mailchimp list only if I confirm from the email)

If I check "yes" the email is not sent and the user is not added in the mailchimp list.

Can you please help with this?

Thanks,

[2018-05-05 20:18] edalzell commented on #11
@JayVerb @raullukacs what browsers and OS?

[2018-05-05 20:50] raullukacs commented on #11
@edalzell

Chrome Version 66.0.3359.139 (Official Build) (64-bit)
Windows 10.

[2018-05-06 18:35] edalzell commented on #17
I'm not sure this is a bug @raullukacs, as Mailchimp does the opt-in if you haven't sent a check_permission field.

Can you please show me your `mailchimp.yaml` file?

[2018-05-06 18:43] edalzell commented on #11
I think this is fixed in the latest release (1.3.3).

[2018-05-06 18:43] #11 closed

[2018-05-06 18:45] raullukacs commented on #17
Do you know where I can find the mailchimp.yaml file ?

I can confirm that double-opt in is not checked on the list.

Thanks,

[2018-05-06 18:57] edalzell commented on #17
It in `site/settings/addons`

[2018-05-06 18:59] raullukacs commented on #17
Here you go: ( I removed the keys)

mailchimp_key: XXXXXXXXXXXXXXXXXXXXXXXXX
add_new_users: false
forms:
  -
    mailchimp_list_id: XXXXXXX
    form: become-ambassador
  -
    mailchimp_list_id: XXXXXXX
    form: newsletter
license_key: ""

[2018-05-06 19:04] edalzell commented on #17
Right so under those settings, I would expect Mailchimp to send the opt-in email as you are not intentionally bypassing it (and you shouldn't) and you are not sending check permissions data.

[2018-05-06 19:06] raullukacs commented on #17
@edalzell And if I want to bypass it, is there a setting like check_permission: false I can put in the yaml file or somewhere else?

Thanks,

[2018-05-06 19:13] edalzell commented on #17
Like it says in the docs `Not recommended, but you can disable the Double Opt In`.

[2018-05-06 19:14] raullukacs commented on #17
@edalzell Ok . Thanks for all your help.

[2018-05-06 19:17] #17 closed

[2018-07-10 19:36] KontrivedMedia opened #18 "Unsure how to get form content into Mailchimp"
Could you expand on the documentation please and talk about how to get data from the formset into Mailchimp please.

[2018-07-10 19:42] edalzell commented on #18
Let’s see your addon settings please

[2018-07-10 19:43] KontrivedMedia commented on #18
mailchimp_key: b0f1fe5d4cd3acda6e8e-us18
add_new_users: false
forms:
  -
    mailchimp_list_id: 3fba3714
    form: contact-page
    check_permission: true
    permission_field: receive_updates
    merge_fields:
      -
        tag: name
        field_name: name
      -
        tag: email
        field_name: email
      -
        tag: message
        field_name: message
      -
        tag: receive

[2018-07-10 19:44] edalzell commented on #18
And let’s see a submission

[2018-07-10 19:49] KontrivedMedia commented on #18
It's not coming through now.

[2018-07-10 19:51] edalzell commented on #18
Let’s see the formset

[2018-07-10 19:52] KontrivedMedia commented on #18
[code]

[2018-07-10 20:49] edalzell commented on #18
That’s the template. I’d like the form set

[2018-07-10 20:58] KontrivedMedia commented on #18
Isn't the formset at the top of it?

[code]

[2018-07-10 21:00] KontrivedMedia commented on #18
If that isn't the formset, where would it be?

[2018-07-10 21:02] KontrivedMedia commented on #18
title: Contact Page
honeypot: website-ref
fields:
  name:
    display: Name
    validate: required
  company:
    display: Company
    validate: required
  email:
    display: Email
    validate: required|email
  message:
    display: Message
    validate: ""
  receive_updates:
    display: Yes – I would like to join the Burgopak mailing list and receive occasional emails.
    validate: ""
  conta

[2018-07-11 00:21] edalzell commented on #18
Anything in your logs?

[2018-07-11 07:48] KontrivedMedia commented on #18
No, not about the contact form. But now it's being pulled into the mailing list in MailChimp now. But the details aren't. Do the fields in Mailchimp have to match up to the fields on the contact form?

[2018-07-11 23:16] edalzell commented on #18
This is resolved right?

[2018-07-12 09:55] KontrivedMedia commented on #18
Yes it looks like it.

[2018-07-12 13:32] #18 closed

[2018-07-17 04:15] #16 closed

[2018-07-17 19:40] KontrivedMedia opened #19 "Form Fields not being ported into MailChimp"
--------------------------
Form Submission
--------------------------
first_name: Harvey
last_name: Spector
job_title: Developer
company: Kontrived
email: email@gmail.com
phone: "07787749980"
address_line1: Some Street
address_line2: Address Line 2
town: Some Town
city: Some City
postcode: Some Postcode
country: GB
message: Test1A
hear_marketing: 'yes'
hear_promotions: 'yes'
hear_news: 'yes'
heard

[2018-07-17 20:01] KontrivedMedia commented on #19
This is the error I get from the statamic log: production.ERROR: 400: The resource submitted could not be validated. For field-specific details, see the ‘errors’ array.

[2018-07-22 03:54] edalzell commented on #19
if you remove some fields from the mapping, does it work?

[2018-07-25 13:14] KontrivedMedia commented on #19
I removed all the fields and created a new one and it still wouldn't work.

[2018-07-28 02:20] edalzell commented on #19
let's see the addon settings and the Mailchimp meta fields please

[2018-10-03 16:57] PhilippeGauthier opened #22 "Broken images in Marketplace Documentation"

[2018-10-03 16:58] edalzell commented on #19
closing due to inactivity

[2018-10-03 16:58] #19 closed

[2018-10-03 22:58] edalzell commented on #22
Should be fixed when Marketplace refreshes.

[2018-10-03 22:58] #22 closed

[2018-10-18 03:15] KimKJDesigns opened #23 "Does the add-on give any feedback"
I'm having a few subscribers, who have unsubscribed in the past, now subscribing to our list again.

Logs are giving me some feedback but some information I'd like to pass onto the user. Is this an option through the add-on?

Currently, we just pass a simple message based on the form:success or form:errors.

[2018-10-18 14:52] edalzell commented on #23
What kind of message are you looking for?

[2019-05-31 08:36] zeddyblue opened #24 "Error message on install"
I get the following error on install. Is this something to worry about as it does say Dependencies updated!

Adding packages: erin-dalzell/mailchimp
Please wait while dependencies are updated via Composer. This may take a while.
The command "php composer.phar update erin-dalzell/mailchimp --prefer-dist --no-dev --optimize-autoloader" failed.
Exit Code: 137(Kill (terminate immediately))

Output:
==

[2019-05-31 15:39] edalzell commented on #24
What's the error?

[2019-05-31 23:26] zeddyblue commented on #24
The command "php composer.phar update erin-dalzell/mailchimp --prefer-dist --no-dev --optimize-autoloader" failed.
Exit Code: 137(Kill (terminate immediately))

[2019-06-02 22:30] edalzell commented on #24
Ya that's not to do with me. Are you trying that on production, or is this locally?

[2019-06-06 01:39] zeddyblue commented on #24
Thanks. It was some issue on the production server. Was in the process of moving servers and works fine on the new forge server, so i don't know what the problem was on the old server.

[2019-06-06 01:39] #24 closed

[2019-09-07 00:25] edalzell commented on #23
Closed due to inactivity. Please re-open if still relevant.

[2019-09-07 00:25] #23 closed

[2019-09-26 14:37] wanze opened #25 "FR: Debug mode"
Hi @edalzell

Thanks for creating this addon! What do you think about introducing a dedicated `debug` mode? If active, the subscriptions are written to the log file and the Mailchimp API is never called. Similar to Statamic's `log` driver for emails.

I could send you a pull request if you think that this feature would be a worthwhile extension.

Cheers

[2019-09-26 14:53] edalzell commented on #25
That's a great idea!

[2019-10-29 13:20] websmyth opened #26 "400: The resource submitted could not be validated."
I’ve connected a formset to MailChimp but logbook is showing the following error on submission:

`400: The resource submitted could not be validated. For field-specific details, see the 'errors' array.`

The issue only appears when I add the formset to MailChimp (under Form on the settings page), and emails aren’t passed to the corresponding mailing list.

I’ve tried removing the validation from t

[2019-10-29 15:08] edalzell commented on #26
I bet it's because it assumes the email field is `email`

[2019-10-29 16:09] websmyth commented on #26
Thanks, Erin. I’ve changed the formset (and corresponding inputs etc) to:

[code]

[2019-10-29 16:31] edalzell commented on #26
Let's see your `mailchimp.yaml`

[2019-10-29 16:39] websmyth commented on #26
[code]

[2019-10-30 03:26] edalzell commented on #26
Let's see the list (audience) settings:
<img width="894" alt="image" src="https://user-images.githubusercontent.com/6069653/67826620-5e895480-fa8a-11e9-86a7-928f73f4014a.png">

[2019-10-30 03:28] edalzell commented on #26
And can you please check your Statamic log to see the there are more details there?

[2019-10-30 07:44] websmyth commented on #26
![image](https://user-images.githubusercontent.com/9350638/67838281-d7b79480-fae8-11e9-8a9b-78ee30776b9b.png)

The Statamic logs don’t reveal anything more, unfortunately: `[2019-10-29 16:07:12] dev.ERROR: 400: Your merge fields were invalid.`

[2019-10-30 15:13] edalzell commented on #26
Please re-open if issue persists after making those changes.

[2019-10-30 15:13] #26 closed

[2020-01-15 22:49] curtisblackwell opened #27 "Allow null fields in settings"
My company has forms that just collect contact info in exchange for whitepapers, so there's no "content." Because of that (and having left it blank), `array_combine` ends up throwing an error in `AkismetListener::convertSubmissionToAkismetData` since `$keys` and `$data` have a different number of items.

[2020-01-21 19:24] curtisblackwell opened #28 "Support tags"
- [Help article explaining tags](https://mailchimp.com/help/getting-started-tags/)
- [Tags API docs](https://mailchimp.com/developer/guides/how-to-use-tags/)

We'd like to assign tags to contacts who submit our Mailchimp forms. We'll assign a different tag for each form on our site (e.g. footer, contact, blog) to track which forms are effective.

Since we only have one configured form in the addon

[2020-01-29 05:02] edalzell commented on #28
@curtisblackwell to use the API you need to know the `segment` of the tag. How would you go about finding those?

<img width="672" alt="image" src="https://user-images.githubusercontent.com/6069653/73329153-5b307100-4211-11ea-9b22-f17cc127f006.png">

Might need to build a CP thing to retrieve these, which will be much more complicated.

[2020-01-30 00:26] curtisblackwell commented on #28
Yeah… I think it'd need to either be retrieved so the user can select it or just input. Could be just in YAML if you didn't wanna build the whole CP side of things.

[2020-06-04 17:13] dependabot-preview[bot] opened #30 "Dependabot couldn't find a composer.json for this project"
Dependabot couldn't find a composer.json for this project.

Dependabot requires a composer.json to evaluate your project's current PHP dependencies. It had expected to find one at the path: `/Mailchimp/composer.json`.

If this isn't a PHP project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/edalzell).

[View the update

[2020-06-15 00:35] #30 closed

[2020-06-16 01:16] dependabot-preview[bot] opened #32 "Dependabot couldn't find a composer.json for this project"
Dependabot couldn't find a composer.json for this project.

Dependabot requires a composer.json to evaluate your project's current PHP dependencies. It had expected to find one at the path: `/Mailchimp/composer.json`.

If this isn't a PHP project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/edalzell).

[View the update

[2020-07-09 18:49] #32 closed

[2020-07-22 14:38] ellimondo opened #33 "Empty Mailchimp Config file"
Running `php artisan vendor:publish --provider="Edalzell\Mailchimp\ServiceProvider"` outputs

[code]

[2020-07-22 14:44] ellimondo opened #34 "Composer in Readme.md error"
If I run `composer require edalzell/statamic-mailchimp` as per the Readme instructions I get the following error:

[code]

It looks like the Add On Installer inside Statamic runs `composer require edalzell/mailchimp` and that does indeed install the Add On.

[2020-07-22 14:59] ellimondo opened #35 "Mailchimp Config errors"
If I paste the suggested code from the Readme file into the mailchimp.php file I get the following error in Statamic:

[code]

I think there's a missing` ],` in the example.

If I repair this and fill out the config I still get errors:

[code]

Please excuse my ignorance if I have missed something glaring here as this is the first time I've used Statamic. It's also unclear in the instructions what

[2020-07-22 16:36] #33 closed

[2020-07-22 16:38] #34 closed

[2020-07-22 16:41] edalzell commented on #35
Yes, name of the YAML. Sorry for the confusion, I'll update the instructions.

Closed in https://github.com/edalzell/statamic-mailchimp/commit/62a9d5a35534db7bed63f5b308b6907b58bab11e

[2020-07-22 20:55] ellimondo commented on #35
Thanks for the updates. All work great. However, I am still getting the error from the function `addFormsToNewsletterConfig ` listed above. The settings inside the config file are being viewed as Illegal String Offset and highlight this line in the CP.

`return [$form['form'] => ['id'=> $form['audience_id']]];`

[2020-07-22 21:50] edalzell commented on #35
@ellimondo let's see your config file

[2020-07-23 06:16] ellimondo commented on #35
Here you go. The settings are just for testing.

Even if I only enter the form setting in a freshly generated `mailchimp.php` file the error is thrown as soon as the array is called in line 50. I've run a `composer update statamic/cms` to see if anything is missing but it's all tickety boo.

[code]

[2020-07-25 00:35] edalzell commented on #35
Bad example config file, sorry, try this:
[code]

[2020-07-25 00:36] #35 closed

[2020-07-30 11:10] ellimondo opened #36 "Listening to wrong event"
Hi

Is there anywhere I can see if the add on is communication/sending out anything to MailChimp?

I get no response from MailChimp upon form submission and no error in the log files so I am at a bit of a loss on how to proceed.

The form is submitting fine to Statamic through both Postmark API and log mailer settings. I am working locally.

[2020-07-30 13:43] edalzell commented on #36
Let’s see your mailchimp settings

[2020-07-30 14:02] ellimondo commented on #36
[code]
The error has disappeared in the last update thanks.

BTW Your readme notes still have the missing '[]' in the example.

I've tried various basic forms, some with just email in the Merge array. All just silently fail. But there's no response anywhere. Laravel log remains empty.

Sorry to be a pain.

BTW I am using PHP 7.4.7 - I wonder if the MailChimp API wrapper is broken in this version?

[2020-07-30 15:25] edalzell commented on #36
Issue confirmed @ellimondo, working on a fix.

[2020-07-30 15:31] edalzell commented on #36
Sorry, got confused, still trying to figure out what's wrong.

[2020-07-30 15:51] #36 closed

[2020-07-30 15:52] edalzell commented on #36
Fixed in 2.0.3 @ellimondo

[2020-07-30 16:30] ellimondo opened #37 "Wrong Argument"
Don't shoot!

Updated to 2.0.3 and the form is now talking to the app, but submitting the form logs the following error:

[code]

[2020-07-30 16:33] edalzell commented on #37
Oh my tests passed, nice find!

[2020-07-30 17:40] #37 closed

[2020-07-30 17:42] edalzell commented on #37
fixed in 2.0.4

[2020-07-30 17:47] ellimondo commented on #36
Parp! That works. Thanks so much. Jon.

[2020-08-17 17:20] curtisblackwell opened #39 "Exception continuously thrown and logged"
Mailchimp is writing an exception to my logs every second. Here's the exception:

[code]

And here's my config:

[code]

I also have `MAILCHIMP_APIKEY` set in my `.env`.

[2020-08-20 04:51] edalzell commented on #39
Looked at that error closer, it's looking for a folder that shouldn't exist. Is there some place you're trying to load a mail chimp view? Search for `mailchimp::` and see what you find @curtisblackwell.

[2020-08-20 04:52] edalzell commented on #39
Also, Statamic v3 was released and I updated Mailchimp to make it compatible, perhaps that will knock this loose?

[2020-08-31 00:14] edalzell commented on #39
@curtisblackwell this still occurring?

[2020-09-04 20:39] curtisblackwell commented on #39
Hey, sorry for the delay. Was never trying to load a Mailchimp view. I'm pretty sure that was Statamic trying to load an addon settings view or something of that nature. Notice it was looking in your vendor directory.

This appears to be resolved now, though.

[2020-09-08 14:43] curtisblackwell commented on #39
Turns out I had uninstalled the add-on. This is still happening now that I've re-installed it. Is there other info I can provide to help debug? Or we can schedule some time to look at it together if that's helpful.

[2020-09-08 14:49] edalzell commented on #39
Is this v2 or v3 @curtisblackwell ?

[2020-09-08 14:59] curtisblackwell commented on #39
v3. Latest version of Mailchimp, 3.0.2 for Statamic. Nothing in the changelog suggests anything that would affect addons for Statamic, but I'll go ahead and try updating.

[2020-09-08 15:03] curtisblackwell commented on #39
Yep, updating makes no difference. It seems to me like Statamic expects addons to have a view for the CP, and your addon just doesn't have one.

[2020-10-20 17:11] websmyth commented on #28
If we knew the segment ID of a tag, does that make it possible/easier?

[2020-10-21 23:25] edalzell commented on #28
This is actually pretty easy to add. @websmyth are your tags per form as well?

[2020-10-22 06:41] websmyth commented on #28
Exactly. I’d give the user some options to choose which tag(s) to assign to a form in the CP.

Ideally, it would be great to be able to pull the tags in through the CP – perhaps through a manual ‘refresh’ button – but realise that’s a pain to implement.

[2020-10-26 00:49] dustinleblanc opened #43 "Package won't install"
Just purchased this tonight and getting this error on install:

[code]

PHP Version:
[code]

My composer require section:
[code]

[2020-10-26 00:50] dustinleblanc commented on #43
Just saw 7.4+ is required, I'll check to see if I can safely upgrade

[2020-10-26 00:55] dustinleblanc commented on #43
Updating PHP fixed it. I am now going to cry in a corner because I am finally that guy who wasn't running the latest bleeding edge version of PHP, but will wipe my tears away as I can now sign folks up for mailing lists!

[2020-10-26 00:55] #43 closed

[2020-10-27 18:53] edalzell commented on #28
- [ ] move repo to `silentzco`
- [ ] rename namespace to `silentz`
- [ ] review config, might do breaking change
- [ ] add config to mailchimp
- [ ] create custom relate/suggest mode to pull tags from mailchimp
- [ ] add selector to config
- [ ] take screenshots of config
- [ ] update docs re tags

[2020-10-27 18:53] edalzell commented on #39
can't reproduce

[2020-10-27 18:53] #39 closed

[2020-10-27 18:54] edalzell commented on #27
@curtisblackwell this should work in most recent version (the one for V3), can you confirm?

[2020-10-27 18:54] edalzell commented on #25
@wanze is this something you're still interested in?

[2020-10-29 10:21] wanze commented on #25
@edalzell I'm currently not working with Statamic and don't have time to contribute, sorry. But it would be a nice feature for sure! :)

[2020-10-31 22:25] edalzell commented on #28
in 2.2

[2020-10-31 22:25] #28 closed

[2020-11-01 07:29] websmyth opened #44 "2.2.1 update quirks"
A couple of quirks in the install/update:

1. When I updated, Mailchimp became an unlisted addon named Akismet. I removed the previous version and installed from scratch.
2. On `/cp/mailchimp/config/edit` I got `Undefined index: id` , which points at `MailchimpAudience.php` line 31. Setting the Audience ID through the config file fixed this.

[2020-11-01 18:14] edalzell commented on #44
@websmyth remove the existing addon then re-add w/ `composer require silentz/mailchimp`. I changed the namespace, I'll update the instructions.

Thanks, will fix

[2020-11-01 18:24] edalzell commented on #44
fixed in 2.2.2

[2020-11-01 18:25] #44 closed

[2020-11-03 16:45] lukeagsmith opened #47 "bug: unable to install add-on"
running `composer require silentz/mailchimp` gives the error:

[code]
This error still happens after running:

[code]

[2020-11-03 21:13] edalzell commented on #47
What version is it trying to install? The current version doesn't have that method at all?

[2020-11-04 12:49] lukeagsmith commented on #47
Version 2.0.4

[code]

[2020-11-04 14:38] edalzell commented on #47
Huh, interesting. My guess is that you are not on PHP7.4 as 2.0.5 was the first version to require that.

Can you do it manually to confirm? Set the constraint to `"silentz/mailchimp": "^2.2"` in your `composer.json` then run `composer update`?

[2020-11-05 09:49] lukeagsmith commented on #47
Yes I think you are right:

[code]

[2020-11-05 13:09] edalzell commented on #47
Upgrade to php 7.4 and you should be good to go!

[2020-11-05 13:09] #47 closed

[2020-11-09 10:43] websmyth opened #48 "Control panel save quirks"
Two small issues I’ve noticed:

**1. Consent field**
`'consent_field' => 'consent',` appears in `mailchimp.php` even if the user toggles consent `off`. I’d guess this wouldn’t happen if the user clears `consent_field` first, but haven’t tested that and it might not be obvious.

When the file saves like this, the CP config page loads without pulling in any of the data saved in `mailchimp.php`

~~**

[2020-11-10 21:04] websmyth opened #49 "Checkbox on consent boolean/array"
Not sure if this is an add-on issue, apologies if not...

I’m using a checkbox field as a `consent` and submitting the form with this `checked` returns:

`Return value of Silentz\Mailchimp\Subscriber::hasConsent() must be of the type bool, array returned`

The relevant part of the `blueprint`:

[code]

Can anything be done to recognise this field/array? I’d guess a `radio` would work, but would pr

[2020-11-10 22:01] edalzell commented on #49
Nice find.

[2020-11-10 22:02] edalzell commented on #48
Thanks for this Dave, I'll get these sorted. In the meantime, setting the config in the file should work fine.

[2020-11-10 22:14] websmyth commented on #48
All good! 🙌

[2020-11-11 00:48] edalzell commented on #48
@websmyth which version of Mailchimp are you talking about?

[2020-11-11 00:51] edalzell commented on #48
I was unable to reproduce this, please try on the latest version (released soon) and let me know if this still occurs

[2020-11-11 00:51] edalzell commented on #48
This will be in the next release.

[2020-11-11 00:59] edalzell commented on #49
@websmyth what does your template code look like for that `mailing_list` field?

[2020-11-11 08:03] websmyth commented on #48
Amazing. Will confirm `1`, too. 🙌

[2020-11-11 08:07] websmyth commented on #49
I’m looping over the fields:

[code]

That produces:

[code]

[2020-11-11 16:22] edalzell commented on #49
ok that's what I thought, easy fix.

[2020-11-12 00:37] #49 closed

[2020-11-12 00:53] edalzell commented on #48
In 2.3.1

[2020-11-19 10:24] robdekort opened #50 "FR: Subscribe users to groups"
It would be nice if you could subscribe users to [groups](https://mailchimp.com/help/create-new-audience-group/) as well as merge tags.

Groups support checkbox based lists (say example for interests, newsletter types you want to receive). Merge tags only support radio buttons.

[2020-11-19 13:26] robdekort commented on #50
It seems the spatie package does support this, so that's nice.

For now I've come up with a hideous workaround. Every option in my checkbox is a single merge field (type = text). In my form I add a checkbox field with one checkbox for each merge field. Now people can subscribe to multiple interests :-)

[2020-11-20 13:00] websmyth opened #51 "Won’t deploy"
When I try to deploy this to a server – through DeployHQ with `composer install --no-progress` – the deployment fails with this error:

[code]

There are other addons installed, but Mailchimp is the only one to cause the issue. The issue remains when all addons but Mailchimp are removed, and it disappears when Mailchimp is removed.

[2020-11-20 14:57] edalzell commented on #51
What version of Laravel?

[2020-11-20 16:51] websmyth commented on #51
After removing and reinstalling via composer, this error is generated (on local):

[code]

**Environment**
Statamic 3.0.29 Pro
Laravel 8.15.0
PHP 7.4.11
cnj/seotamic 2.0.2
edalzell/forma 0.6.1
silentz/mailchimp 2.3.3
spatie/statamic-responsive-images 1.4.0

[2020-11-22 00:27] edalzell commented on #51
Confirmed

[2020-11-22 06:45] edalzell commented on #51
I believe this has been fixed @websmyth, can you please try in version 2.3.6?

[2020-11-22 06:45] #51 closed

[2020-11-22 09:44] websmyth commented on #51
Works perfectly – thank you!

[2020-11-23 09:43] robdekort commented on #50
A downside I just realised is that with my workaround (which is fine for my current project) users can't unsubscribe from different topics so segmentation is not really ideal this way. Groups would solve that.

[2020-11-23 15:27] MikeHarrison opened #52 "Subscribers not being added to the audience"
Hi,

I have the addon installed and running locally, and believe I have everything set up correctly. However when I fill in my form, the subscribers are not being added to Mailchimp.

What is the best way of diagnosing what is happening here? Thanks for any help - please let me know if I can provide any futher info.

Mike

[2020-11-23 16:12] edalzell commented on #52
Let's see your config file

[2020-11-23 16:39] MikeHarrison commented on #52
Sure (API key is in there on the real thing):

`mailchimp.php`
[code]

[2020-11-26 11:40] websmyth opened #53 "New tags not appearing"
My client has added new tags to their Mailchimp audience, but these aren’t being detected in the plugin.

We’ve tried:

1. Clearing Statamic cache
2. `php artisan cache:clear`
3. Tagging existing users with these new tags (in case it was because the tags hadn’t been used)

They have 13 tags associated with their audience, but only 9 appear as options in the CP. The issue is present on local and pr

[2020-11-26 17:42] edalzell commented on #52
And let's see the form fieldset please.

[2020-11-26 17:53] #53 closed

[2020-11-26 19:49] MikeHarrison commented on #52
This is the fieldset that is added by the page builder:

**newsletter_signup.yaml**
[code]

This is my **mailchimp.yaml** in `resources/blueprints/forms`:

[code]

And this is the **_newsletter_signup.antlers.html** which is in `resources/views/page_builder/`
[code]

Sorry, more information than you asked for but thought I would try and cover everything!

[2020-11-26 21:22] edalzell commented on #52
how are you testing? You've got `disable_opt_in` set to false so Mailchimp will send a confirmation email first, are you getting those?

[2020-11-26 22:11] MikeHarrison commented on #52
I am filling in the form, which looks to be submitting as the message in the `{{ if success }}` is appearing. Then nothing else happens - no email from Mailchimp, and nothing in  the Mailchimp dashboard to indicate anything has happened.

[2020-11-27 00:30] edalzell commented on #52
Can you please zip up your site and send it to me?

[2020-11-27 06:19] #50 closed

[2020-11-27 16:31] websmyth opened #54 "TypeError on submission"
Appreciate the rapid development here, Erin 🙏

Forms are returning this error on submission:

[code]

I’m not 100% that this has only happened on `2.4`, but the issue appears to have arisen since we updated. Is that line related?

[2020-11-27 16:54] #54 closed

[2020-11-27 16:56] edalzell commented on #52
@MikeHarrison please update and try again.

[2020-11-27 23:22] edalzell commented on #52
merge fields were required.

[2020-11-27 23:22] #52 closed

[2020-11-30 09:58] MikeHarrison opened #55 "Improved Error Messages"
Thanks to some excellent work from Erin my issue with form non-submission was tracked down to a field being required by Mailchimp but not present in my form.

The form was failing silently so it wasn't obvious this was the problem. Improved error messaging for this sort of issue would have saved time (mostly Erin's!) in this case.

[2020-12-14 16:35] MikeHarrison opened #57 "Include user forms"
Hi,

I am building a site with front-end user management. It would be good to be able to include user forms in the Mailchimp signup process as well as standard Statamic forms, particularly the `{{ user:register_form }}`

[2020-12-16 15:42] thatdoorsajar opened #58 "Server Error on "Save""
Hi I'm getting a 500 (Internal Server Error) when I try and click "Save" in the Mailchimp CP Config page. The error has these details in the exception message:

[code]

It is connecting to my Mailchimp account in the config page as it lists out all my audiences and tags.

This is on a production server and in local and for both versions `2.4.1` & `2.4.2`

Not sure if others have had this issue pre

[2020-12-16 16:45] edalzell commented on #58
Can you please run `composer show` and let me know the versions for:

- `edalzell/forma`
- `stillat/proteus`
- `silentz/mailchimp`

[2020-12-16 17:31] edalzell commented on #57
Agreed, started work on this

[2020-12-17 04:44] edalzell commented on #58
nm @thatdoorsajar I can confirm this, it's an issue w/ an underlying package I use.

I'll get it sorted this week.

[2020-12-17 07:30] thatdoorsajar commented on #58
Hi @edalzell thanks for confirming underlying issue. Just in case its helpful:

- `edalzell/forma v0.7.2`
- `stillat/proteus v1.0.4`
- `silentz/mailchimp v2.4.2`

[2020-12-17 21:11] edalzell commented on #58
For reference: https://github.com/Stillat/proteus/issues/6

[2020-12-19 22:06] edalzell commented on #58
This was fixed in Proteus, please update.

[2020-12-19 22:06] #58 closed

[2020-12-20 23:40] #57 closed

[2020-12-21 16:32] sandersjj opened #59 "Not able to install. Error: $addon must be an instance of Statamic\Extend\Addon"
I am trying to install this plugin:

`composer require silentz/mailchimp`

But I am not able to do this since I get the following error:

- php version 7.4.1
- Statamic 3.0.34

[2020-12-22 01:17] edalzell commented on #59
@sandersjj can you please try again on the latest version?

[2020-12-22 14:27] sandersjj commented on #59
On the latest version it works.

[2020-12-22 15:13] #59 closed

[2020-12-22 21:50] sandersjj opened #60 "Unable to see Mailchimp menu from CP"
After installing Mailchimp version `2.5.1` on Statamic `3.0.35` I am not able to see the Mailchimp menu option in the CP.

[2020-12-23 07:37] sandersjj commented on #60
The new release solves this issue

[2020-12-23 07:37] #60 closed

[2021-01-13 10:14] philipboomy opened #61 "Error on deploy or when running php please"
I am getting this on deploy

**In ServiceProvider.php line 12:
syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ',' or ')'**

and it happens after I installed the addon on deploy.

Discovered Addon: [32medalzell/forma[39m
Discovered Addon: [32msilentz/mailchimp[39m

I am using php 7.4

If I tried to php please clear stache for example I get this error as well.

Works locally

[2021-01-13 14:37] edalzell commented on #61
Please confirm your prod php version. My bet is that it’s 7.3

[2021-01-13 19:20] philipboomy commented on #61
Statamic says: PHP Version | 7.4.12
Forge dashboard says 7.4
Nginx says 7.4

php -v says 7.2 but I think that is just showing what was original installed when server was created.

[2021-01-13 19:47] edalzell commented on #61
Well not sure what to tell you, but it's a PHP version issue. The line referenced is using syntax only valid in PHP 7.4.

[2021-01-13 20:24] philipboomy commented on #61
Yeah I use using wrong php version on cli. Sorry about that.

[2021-01-13 20:24] #61 closed

[2021-03-15 19:05] DesignByNeil opened #62 "CP Error after install"
Hi Erin

Just trying to get the addon setup and I have followed the [readme](https://github.com/silentzco/statamic-mailchimp/blob/main/README.md) install and added the API key but i am getting the following error.

[code]
`throw new RouteNotFoundException("Route [{$name}] not defined.");`

Not sure if i have missed something else that i need to setup.

I am running Statamic v3.0.46 & php 8

Thanks

[2021-03-16 18:31] edalzell commented on #62
When are you getting that error? What are you trying to do?

[2021-03-16 20:03] DesignByNeil commented on #62
It happens when i try to hit the cp after install

[2021-03-17 15:51] edalzell commented on #62
I can't reproduce with the latest version of Mailchimp (and Forma). I pushed an update to Forma that might have been causing this, can you please run `composer update` and see if this issue goes away?

[2021-03-17 19:40] DesignByNeil commented on #62
Still getting the issue. I haven't installed Forma. Is it required? Perhaps that is what is causing the issue. After install i haven't been able to view any part of the cp.

[2021-03-18 20:09] DesignByNeil commented on #62
I have been able to install the addon locally using valet and php 7.4 however it still wont allow access to the cp when I add the changes through to my server which is setup with Ploi and DO and php 8.0.1.

[2021-03-18 21:43] edalzell commented on #62
Forma is a dependency of Mailchimp, so would get updated when you ran `composer update`

[2021-03-18 21:44] edalzell commented on #62
So it works locally (you can access the CP) but not on your prod server? And the only major difference is the PHP version?

[2021-03-18 23:49] edalzell commented on #62
I tried Mailchimp on a local PHP 8 install and it seems to work fine.

@DesignByNeil what do you mean by that?

[2021-03-19 08:40] DesignByNeil commented on #62
I reversed the changes and removed the addon and I could

Yes thats correct. I had purchased a license for it too so it shouldn't be anything to do with that.

[2021-03-19 08:42] DesignByNeil commented on #62
I pushed the local changes to my git repo and then updated the prod server but i then couldn't access the cp.

[2021-03-19 09:59] DesignByNeil commented on #62
I have rolled back the php version on the prod server to 7.4 and still getting the issue on install. So that rules out the php version.

[2021-03-23 20:08] DesignByNeil commented on #62
Running `php artisan route:clear` resolved the issue

[2021-03-23 20:11] edalzell commented on #62
oh interesting, your routes were cached but the correct ones weren't in there.

[2021-03-23 20:11] #62 closed

[2021-03-29 17:14] DesignByNeil opened #63 "Email not in merge fields"
Hi

I have selected the form, audience and tag but i cant see the email as an option in the merge fields when doing the setup. I can see the other fields available.

Is there anything that would be blocking this?

Thanks

[2021-03-31 02:44] edalzell commented on #63
Lets see the merge fields in the audience, in mailchimp, please

[2021-04-01 13:40] DesignByNeil commented on #63
Hi Erin

These are the two merge fields. The name field is pulling through but not the email one
![image](https://user-images.githubusercontent.com/51749491/113302146-ae132600-92f7-11eb-8363-4982dfbd06e5.png)

Thanks

[2021-04-04 23:11] edalzell commented on #63
Are there any errors in the console?

[2021-04-08 20:36] DesignByNeil commented on #63
No errors although i have noticed if i add and then save some settings in the CP that when i go back into the mailchimp addon again that the settings are not there and it is cleared again.

[2021-04-08 23:43] edalzell commented on #63
Are the new values saved to the config file?

[2021-04-13 14:43] DesignByNeil commented on #63
I have fixed the non saving issue the mailchimp config file was missing but the email field is still not showing up.

[code]

When you submit the form it is giving the error because the email address is missing.

[2021-04-13 15:10] edalzell commented on #63
It's a contact form though right? Why is the email missing? Are you sending it in the form?

[2021-04-13 15:10] edalzell commented on #63
Ya, nice find, I need to throw an error there or something, thanks for the reminder.

[2021-04-13 15:11] DesignByNeil commented on #63
Yeah i hadnt realised that needed created when i added the addon via the cp

[2021-04-13 16:41] DesignByNeil commented on #63
Ahh ok. I think i have it sorted now. I changed the handle name for the email from `email_address` to `email` and it has submitted. I didnt realise the email address handle had to be email.

Does the email field automatically get added to the merge fields without the need to add them to the forms merge fields in the addon?

Also what does the add users toggle do?

[2021-04-17 18:25] edalzell commented on #63
It defaults to `email` though you can set the email field name in the `primary_email_field` config.

No, you have to add in the addon config.

It will allow you add user registrations to mailchimp as well. I'm still working on that functionality.

Glad you got it all sorted. Going to close this, if you still have issues let me know.

[2021-04-17 18:25] #63 closed

[2021-05-02 11:18] kristiana-s opened #64 "Can only see 9 audiences in audience Id list"
Have added a clients API key, and need to get a specific audience ID, the Mailchimp config page only shows 9 items in the list, where the client has 15, and the one I need is not part of the 9.

Plugins installed:
Statamic v3.1.10
Mailchimp v2.5.5
Aardvark Seo v2.0.10
Duplicator v1.3.0

[2021-05-04 02:20] edalzell commented on #64
Nice find @kristiana-s, I can fix this.

[2021-05-04 02:55] #64 closed

[2021-05-04 02:56] edalzell commented on #64
hey @kristiana-s can you give the latest release a go?

[2021-05-04 08:57] kristiana-s commented on #64
@edalzell yep brill, thats sorted it :) thanks!

[2021-06-28 17:43] austriker27 opened #65 "Email submissions aren't getting sent the double confirmation email from MC"
Alrighty, I've double checked everything and can't figure out why MC is *not* sending double confirm emails for submissions (I have this turned on per MC recommendation and have checked my spam folder). The submissions are being saved in Statamic and I'm not getting any console errors. Yet no confirmation emails nor new audience contacts.

Also I added the pages that use the MC signup form to be e

[2021-06-28 18:11] austriker27 commented on #65
Chatted with Erin about this and he said it might have to do with the consent box being an array on the newsletter blueprint. (Its an array because its a checkbox)

So I turned off "check consent" in the MC config and removed the 'required validation' on the checkbox in the form fieldset and re-submitted an email:
[code]

But alas I didn't get the MC email nor was a contact added to the MC audienc

[2021-06-30 21:48] edalzell commented on #65
@austriker27 is that email address already in mail chimp? If you WERE in there but then unsubscribed, you don't get asked again (as that allows someone to use your email to spam you)

[2021-06-30 22:06] edalzell commented on #65
@austriker27 can you please change your config from `'form' => 'Newsletter'` to `'form' => 'newsletter'` and try again?

[2021-06-30 22:11] edalzell commented on #65
confirmed via Discord, that solves the issue, closing.

[2021-06-30 22:11] #65 closed

[2021-06-30 22:11] austriker27 commented on #65
I can confirm it works! Silly me, I was using the `Title` not the `handle` when I filled in the `mailchimp.php` config file.

[2021-11-18 18:03] francoismajor opened #66 "Update docs to explain primary_email_field"
Hi!
I have different forms that use different handles for the email field, and the subscribe wasn't working. I found the `primary_email_field` in the code and defined it in my config and now my forms work. Maybe add that as an option in the docs? (and in the published config file)
[code]
Thanks!

[2021-11-20 23:43] edalzell commented on #66
Thanks for this, updated the readme and the config

[2021-11-20 23:43] #66 closed

[2021-12-16 16:38] flythecoopcom opened #68 "Lack of Marketing Permissions"
Hi @edalzell,

Would it be possible to implement functionality to work with Mailchimp's marketing permissions? Although I really like the addon, I'm forced to use a custom implementation using spatie/laravel-newsletter due to the lack of this.

Thanks.

[2021-12-16 17:05] edalzell commented on #68
What permissions, do you have a link I could look at?

[2021-12-16 17:13] flythecoopcom commented on #68
Of course, below are links to Mailchimp documentation and the implementation by Spatie.
https://mailchimp.com/help/collect-consent-with-gdpr-forms/
https://github.com/spatie/laravel-newsletter#working-with-gdrp-marketing-permissions

[2021-12-19 01:01] edalzell commented on #68
And what would you like to be able to do?

[2021-12-19 23:28] igibek opened #69 "[Security] Workflow create-release.yml is using vulnerable action actions/checkout"
The workflow create-release.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE

[2021-12-19 23:28] qazaqstan2025 opened #70 "[Security] Workflow test.yml is using vulnerable action actions/checkout"
The workflow test.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2022-02-08 22:20] kamilahcarter opened #71 "FR: Add or Update"
Allow the subscribe form to add or update a subscriber in order to cover the cases where someone
- Fills out the form to update their contact info
- Fills out the form to gain access to subscriber only content

Link to discussion in discord: https://discordapp.com/channels/489818810157891584/489862989101662218/940715589205372929

[2022-02-25 05:02] edalzell commented on #71
This is a good idea, I'll look at this shortly

[2022-02-25 17:35] mvpopuk opened #72 "Passed value cannot be an array"
I'm trying to update Statamic and I get this error:

[code]

- PHP `v. ^7.3 || ^8.0`
- Statamic `v. 3.2.24`
- Silentz Mailchimp `v. ^2.5`

[2022-02-25 18:11] edalzell commented on #72
Outdated Statamic, update to at least 3.2.32.

[2022-02-25 18:11] #72 closed

[2022-02-28 19:55] francoismajor opened #73 "UI Issue: Merge fields disappear after saving"
Hi! I'm having an issue where I can create merge fields using the UI in Statamic, but once I save they disappear.

👉 addon version 2.5.7. Statamic 3.2.32

Create:

![Screen Shot 2022-02-28 at 2 46 10 PM](https://user-images.githubusercontent.com/8515329/156049044-e0f7e23e-2351-4432-89c8-d99b5cd5cdb2.png)

Reload page:

![Screen Shot 2022-02-28 at 2 45 30 PM](https://user-images.githubusercontent.c

[2022-03-01 00:31] edalzell commented on #73
Thanks for the report, I'll look at it this week.

[2022-03-07 01:50] edalzell commented on #73
OK, I've fixed, but  note that config saving doesn't work after Statamic 3.2.32, so I've limited Mailchimp to just that version, for now.

[2022-03-07 01:50] #73 closed

[2022-03-07 02:05] edalzell commented on #68
Closing due to lack of response.

Please re-open if still relevant.

[2022-03-07 02:06] edalzell commented on #48
Closing due to lack of confirmation.

Please re-open if still an issue.

[2022-03-07 02:06] edalzell commented on #25
Please re-open if still wanted.

[2022-03-07 02:06] #25 closed

[2022-03-07 02:06] #48 closed

[2022-03-07 02:07] edalzell commented on #55
already added some better logging.

[2022-03-07 02:07] #55 closed

[2022-03-07 02:09] #69 closed

[2022-03-07 02:09] #71 closed

[2022-03-07 15:26] mvpopuk opened #74 "Can't upgrade to v.2.6"
I'm on Statamic `v.3.2.36` and `silentz/mailchimp v.2.5.7`. When I try to upgrade to `v.2.6` I get the following:

[code]

In my `composer.json` I have:

[code]

Not sure what I'm doing wrong.

[2022-03-07 17:58] edalzell commented on #74
like it says, Mailchimp, at the moment, only supports Statamic 3.2.32. Set you composer version to that.

Once this [PR](https://github.com/statamic/cms/pull/5424) gets merged and released, I'll update the version constraint.

[2022-03-07 17:58] #74 closed, assigned to nobody

[2022-03-07 23:50] edalzell commented on #74
Released 2.6.1 that requires Statamic 3.2.37, which fixes the issue

[2022-03-14 13:00] kristiana-s opened #75 "A way to have dynamic tags?"
Currently tags can either be pre-selected from the tag list in the plugin CP config or hardcoded in the config file like so:
`tag = 'Some tag' `

We have a client who wants to tag contacts on a form by form submission basis, where the tag would change depending on where the form was submitted. Would it be possible to allow dynamic tags based on a form field, even if it is just writing it directly

[2022-03-19 22:50] edalzell commented on #75
Sorry @kristiana-s not sure I understand. What do you mean by "where the form was submitted"?

[2022-03-22 14:51] kristiana-s commented on #75
@edalzell So in the CMS there will be a field called 'tag name', which will get passed to the form. So different pages can have different values for 'tag name' and so depending from which page the form is submitted the 'tag name' value is different.

Hope that makes sense?

[2022-03-23 00:29] edalzell commented on #75
You want to be able to choose a form field to use as the tag? The same way you enter a merge field?

[2022-03-25 23:16] andrew-ireland opened #76 "Silentz\Mailchimp\Subscriber::__construct(): Argument #1 ($data) must be of type array"
I'm having trouble getting the 'Mailchimp' addon to work. Form submits fine without it, but I'm seeing this error on submission. Posting in the hope someone smarter than me can point me in the right direction!

I'm running Static v3.3.3

Silentz\Mailchimp\Subscriber::__construct(): Argument #1 ($data) must be of type array, Illuminate\Support\Collection given, called in /Users/andrewireland/www/or

[2022-03-25 23:29] edalzell commented on #76
It's due to changes in 3.3, I'll update and push out a release in the next few days.

[2022-03-25 23:48] edalzell commented on #76
@andrew-ireland I can't replicate and all my tests still pass.

Can you share a repo that fails?

[2022-03-28 11:56] Champs-Callum opened #78 "Statamic control panel, not working with config"
hey guys,

i have added installed the module on my site but the control panel isn't working with tag or merge fields, this is the first time using statamic and also Mailchimp so any help will be much appreciated.

`
<img width="835" alt="Screen Shot 2022-03-28 at 12 52 10" src="https://user-images.githubusercontent.com/97960357/160392840-cc012af4-ac50-4e6b-93a3-a0f1cc4f76b9.png">

[2022-03-28 15:19] tomagig opened #79 "Statamic 3.3"
Composer is failing to install this extension with Statamic 3.3

[2022-03-28 16:59] edalzell commented on #79
Please post the actual errors.

[2022-03-28 17:00] edalzell commented on #78
What version are you on?

[2022-03-28 19:32] edalzell commented on #76
Closed in 2.7

[2022-03-28 19:32] #76 closed

[2022-03-29 08:12] Champs-Callum commented on #78
Hi Erin,

Thanks for your email, I am currently running 2.6.1. I have seen that you have released an update so will download that and see if that has fixed my issue.

Many thanks
Callum Jackson

[Text  Description automatically generated with medium confidence]
Because email can be altered electronically, the integrity of this communication cannot be guaranteed. Any views expressed in this email a

[2022-03-29 08:34] Champs-Callum commented on #78
Hi Erin,

i am running the following versions,
mailchimp module 2.7
statamic 3.3.3

i have attached the errors i am getting in my browser and i am using google chrome
![Screen Shot 2022-03-28 at 15 28 30](https://user-images.githubusercontent.com/97960357/160569361-baab0f2a-3875-4655-a1d6-1813de835551.png)

[2022-03-31 15:11] kristiana-s commented on #75
@edalzell Yes, I suppose so. Initially, I thought it would be ok to just be able to somehow specify the tag parameter in config as dynamic. But if it could be like merge field that would be better :)

[2022-04-03 16:49] edalzell commented on #78
Any errors in the server log? `laravel.log`?

[2022-04-07 04:38] #75 closed

[2022-04-07 04:41] edalzell commented on #75
Done @kristiana-s set the `tag_field` and it should all work for ya.

[2022-04-07 10:36] Champs-Callum commented on #78
Hey, I haven't got anything in my laravel.logs file. I now have a connection to Mailchimp. think one of your recent updates has fixed whatever I was having an issue with. I can see the audiences and tags on my Mailchimp settings tab in the CP. but when I submit my form the form submits successfully but the data isn't sent to Mailchimp

[2022-04-08 02:08] edalzell commented on #78
By default mail chimp is opt in, so there will be an email that has to be confirmed first, are you seeing that email?

[2022-04-14 05:48] rhoraczek commented on #68
Hi @edalzell,
also for me the possibility to manage the Mailchimp GDPR Marketing Preferences via your addon would be very interesting.
The permission to send marketing material is (unfortunately) essential in the European Union to be able to legally send newsletters. Mailchimp offers under "Settings/GDPR fields and settings" the possibility to define checkboxes and labels , which have to be confir

[2022-04-19 03:15] edalzell commented on #68
Hi @rhoraczek, I don't really understand sorry.

Can you point me at the Mailchimp documentation about those fields?

[2022-04-19 06:46] rhoraczek commented on #68
Hi @edalzell,
here's the link to the documentation of the GDPR fields: https://mailchimp.com/help/collect-consent-with-gdpr-forms/#GDPR_fields

In the last few days I tried some tests on a newsletter signup via your Statamic addon and a standard "embedded signup form" from Mailchimp. Signups via the embedded form all went to Mailchimp without any problems and generated a "thank you" page and the r

[2022-04-21 04:08] edalzell commented on #68
No images in your comment above, can you please update?

[2022-04-21 05:18] rhoraczek commented on #68
Sorry, I thought I had inserted the source.
![form tag of embedded form](https://user-images.githubusercontent.com/40620565/164377689-c05109a5-9adb-4355-82e0-079fab569e98.png)
![form tag of the addon](https://user-images.githubusercontent.com/40620565/164377702-56d88a00-e3e1-4387-a22b-fbb04550cfc1.png)
![GDPR consent text of addon](https://user-images.githubusercontent.com/40620565/164377705-3b062

[2022-04-28 03:24] edalzell commented on #68
I will take a look at this next week, thanks for your patience

[2022-04-28 20:55] kristiana-s commented on #75
Sorry about delayed response, been a bit hectic.

That's great thanks,
However, upon upgrading to v 2.8 I seem to be running into this issue if no tags are set:

`Silentz\\Mailchimp\\Subscriber::tag(): Return value must be of type string, null returned`

config for form looks like this

` 'audience_id' => 'xxxx',
            'disable_opt_in' => false,
            'check_consent' => false,

[2022-04-29 02:07] edalzell commented on #75
Nice find!

[2022-04-29 04:37] edalzell commented on #68
ok @rhoraczek this is not trivial, will get it wrapped up next week.

[2022-04-29 05:34] rhoraczek commented on #68
Thank you @edalzell, and sorry for the headache I'm giving you with my request.

[2022-04-29 11:10] kristiana-s commented on #75
@edalzell thank you for the quick fix!! :)

[2022-05-09 23:25] #68 closed

[2022-05-09 23:29] edalzell commented on #68
ok @flythecoopcom @rhoraczek this is in 2.9, let me know if there are issues.

[2022-06-09 07:25] robdekort opened #84 "Saving config via CP gives error"
Hey Erin. As promised, here's the issue.

Whenever I save the config via the CP I get an error (Statamic 3.3.12 / Laravel 8 / PHP 8.1) I get an error:
<img width="1378" alt="Screen Shot 2022-06-09 at 09 19 15" src="https://user-images.githubusercontent.com/69107412/172788674-3def0d04-53f1-4ec8-ab4b-5a05a8b465a7.png">

I can get the addon working via the `mailchimp.php` config file.

With a clean a

[2022-06-12 00:08] #84 closed

[2022-06-12 00:11] edalzell commented on #78
Closing due to lack of response, if this is still an issue please re-open and provide the requested information.

[2022-06-12 00:11] #78 closed